<div class="login">
  <form class="custom-form" method="post">
    <h1>Detalle Comercio</h1>
    <input
      type="text"
      name="nombre"
      required="required"
      [(ngModel)]="nombre"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="propietario"
      required="required"
      [(ngModel)]="nombrePropietario"
      #it="ngModel"
      readonly
    />
    <input
      type="tel"
      name="telefono"
      required="required"
      [(ngModel)]="telefono"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="categoria"
      required="required"
      [(ngModel)]="categoria"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="descripcion"
      required="required"
      [(ngModel)]="descripcion"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="direccion"
      required="required"
      [(ngModel)]="direccion"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="latitud"
      required="required"
      [(ngModel)]="latitud"
      #it="ngModel"
      readonly
    />
    <input
      type="text"
      name="longitud"
      required="required"
      [(ngModel)]="longitud"
      #it="ngModel"
      readonly
    />
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>
